In [1]:
import pandas as pd
from bs4 import BeautifulSoup as BS
import requests
import numpy as np
import folium
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
warnings.filterwarnings('ignore')

In [3]:
insurance_avg = pd.read_csv('../data/state_averages.csv')

In [4]:
insurance_avg_by_home_price = pd.read_csv('../data/state_avg_by_home_price.csv')

In [5]:
population = pd.read_csv('../data/census.csv')

In [6]:
insurance_averages = pd.merge(insurance_avg, insurance_avg_by_home_price,
         left_on = 'State',
         right_on = 'State',
         how = 'outer')

In [7]:
insurance_averages['Difference From National Avg'] = insurance_averages['Difference From National Avg'].str.replace('(','').str.replace(')','')

In [8]:
my_df = pd.merge(insurance_averages,population,
         left_on = 'State',
         right_on = 'State',
         how = 'outer')

In [9]:
my_df['State'].value_counts()

State
Alabama            1
Alaska             1
New Hampshire      1
New Jersey         1
New Mexico         1
New York           1
North Carolina     1
North Dakota       1
Ohio               1
Oklahoma           1
Oregon             1
Pennsylvania       1
Rhode Island       1
South Carolina     1
South Dakota       1
Tennessee          1
Texas              1
Utah               1
Vermont            1
Virginia           1
Washington         1
West Virginia      1
Wisconsin          1
Wyoming            1
Washington D.C.    1
Nevada             1
Nebraska           1
Montana            1
Illinois           1
Arizona            1
Arkansas           1
California         1
Colorado           1
Connecticut        1
Delaware           1
Florida            1
Georgia            1
Hawaii             1
Idaho              1
Indiana            1
Missouri           1
Iowa               1
Kansas             1
Kentucky           1
Louisiana          1
Maine              1
Maryland           1
Massachusetts      1
Michigan           1
Minnesota          1
Mississippi        1
Puerto Rico        1
Name: count, dtype: int64

In [10]:
coordinates = pd.read_csv('../data/lats_and_longs.csv')

In [11]:
coordinates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_code     244 non-null    object
 1   latitude         244 non-null    float64
 2   longitude        244 non-null    float64
 3   country          245 non-null    object
 4   state_code       52 non-null     object
 5   state_latitude   52 non-null     float64
 6   state_longitude  52 non-null     float64
 7   State            52 non-null     object
dtypes: float64(4), object(4)
memory usage: 15.4+ KB

In [12]:
coordinates = coordinates.drop(columns = ['country_code',
                            'latitude',
                            'longitude',
                            'country'])

In [13]:
coordinates = coordinates.head(52)

In [14]:
my_df = pd.merge(my_df,coordinates,
         left_on = 'State',
         right_on = 'State',
         how = 'outer')

In [15]:
my_df.columns

Index(['State', 'Average Annual Premium', 'Average Monthly Premium',
       'Difference From National Avg',
       'Average annual rates for $200,000 in dwelling coverage',
       'Average annual rates for $300,000 in dwelling coverage',
       'Average annual rates for $400,000 in dwelling coverage',
       'Average annual rates for $600,000 in dwelling coverage',
       'Average annual rates for $1,000,000 in dwelling coverage',
       'total_population', 'state_code', 'state_latitude', 'state_longitude'],
      dtype='object')

In [16]:
my_df.rename( columns = {'Average Annual Premium' : 'avg_annual_rate',
                         'Average Monthly Premium' : 'avg_monthly_rate',
                         'Difference From National Avg' : 'difference_from_national_avg',
                         'Average annual rates for $200,000 in dwelling coverage' : 'avg_annual_rate_$200,000',
                         'Average annual rates for $300,000 in dwelling coverage' : 'avg_annual_rate_$300,000',
                         'Average annual rates for $400,000 in dwelling coverage' : 'avg_annual_rate_$400,000',
                         'Average annual rates for $600,000 in dwelling coverage' : 'avg_annual_rate_$600,000',
                         'Average annual rates for $1,000,000 in dwelling coverage' : 'avg_annual_rate_$1,000,000'})

,State,avg_annual_rate,avg_monthly_rate,difference_from_national_avg,"avg_annual_rate_$200,000","avg_annual_rate_$300,000","avg_annual_rate_$400,000","avg_annual_rate_$600,000","avg_annual_rate_$1,000,000",total_population,state_code,state_latitude,state_longitude
0,Alabama,"$2,745",$229,$515,"$2,391","$3,147","$3,798","$5,144","$7,056","5,024,279",AL,32.318231,-86.902298
1,Alaska,$987,$82,"$1,243","$1,355","$1,708","$2,064","$2,779","$4,098","733,391",AK,63.588753,-154.493062
2,Arizona,"$2,000",$167,$230,"$1,906","$2,490","$3,063","$4,086","$5,161","7,151,502",AZ,34.048928,-111.093731
3,Arkansas,"$3,056",$255,$826,"$3,328","$3,958","$4,675","$6,099","$7,768","3,011,524",AR,35.201050,-91.831833
4,California,"$1,453",$121,$777,"$1,043","$1,405","$1,772","$2,598","$4,266","39,538,223",CA,36.778261,-119.417932
5,Colorado,"$3,124",$260,$894,"$3,169","$4,099","$4,662","$5,542","$7,384","5,773,714",CO,39.550051,-105.782067
6,Connecticut,"$1,677",$140,$553,"$1,750","$2,231","$2,707","$3,641","$4,762","3,605,944",CT,41.603221,-73.087749
7,Delaware,$966,$81,"$1,264","$1,078","$1,384","$1,729","$2,474","$3,406","989,948",DE,38.910832,-75.527670
8,Florida,"$5,533",$461,"$3,303","$3,773","$4,419","$4,984","$5,854","$6,574","21,538,187",FL,27.664827,-81.515754
9,Georgia,"$1,945",$162,$285,"$1,760","$2,302","$2,881","$4,006","$5,743","10,711,908",GA,32.157435,-82.907123
10,Hawaii,"$1,134",$94,"$1,096",$461,$613,$791,"$1,154","$1,831","1,455,271",HI,19.898682,-155.665857
11,Idaho,"$1,265",$105,$965,"$1,476","$1,961","$2,449","$3,427","$5,288","1,839,106",ID,44.068202,-114.742041
12,Illinois,"$2,189",$182,$41,"$2,423","$3,062","$3,587","$4,390","$5,752","12,812,508",IL,40.633125,-89.398528
13,Indiana,"$1,655",$138,$575,"$2,313","$2,991","$3,620","$4,451","$5,749","6,785,528",IN,40.551217,-85.602364
14,Iowa,"$2,012",$168,$218,"$2,022","$2,654","$3,230","$4,388","$6,267","3,190,369",IA,41.878003,-93.097702
15,Kansas,"$4,103",$342,"$1,873","$3,638","$4,843","$5,688","$6,798","$8,310","2,937,880",KS,39.011902,-98.484246
16,Kentucky,"$3,113",$259,$883,"$2,486","$3,326","$4,153","$5,182","$6,452","4,505,836",KY,37.839333,-84.270018
17,Louisiana,"$4,274",$356,"$2,044","$2,822","$3,594","$4,409","$5,277","$5,979","4,657,757",LA,31.244823,-92.145024
18,Maine,"$1,190",$99,"$1,040","$1,021","$1,391","$1,741","$2,510","$3,972","1,362,359",ME,45.253783,-69.445469
19,Maryland,"$1,528",$127,$702,"$1,318","$1,715","$2,131","$3,028","$4,700","6,177,224",MD,39.045755,-76.641271
20,Massachusetts,"$1,622",$135,$608,"$1,303","$1,640","$1,998","$2,746","$4,168","7,029,917",MA,42.407211,-71.382437
21,Michigan,"$1,809",$151,$421,"$1,825","$2,411","$2,956","$3,564","$4,680","10,077,331",MI,44.314844,-85.602364
22,Minnesota,"$2,417",$201,$187,"$1,828","$2,420","$2,999","$4,308","$5,991","5,706,494",MN,46.729553,-94.685900
23,Mississippi,"$2,820",$235,$590,"$2,646","$3,380","$3,941","$4,700","$6,039","2,961,279",MS,32.354668,-89.398528
24,Missouri,"$2,065",$172,$165,"$2,638","$3,543","$4,114","$4,956","$6,641","6,154,913",MO,37.964253,-91.831833
25,Montana,"$2,521",$210,$291,"$2,523","$3,289","$3,831","$4,271","$5,825","1,084,225",MT,46.879682,-110.362566
26,Nebraska,"$5,249",$437,"$3,019","$3,809","$4,800","$5,904","$7,365","$8,451","1,961,504",NE,41.492537,-99.901813
27,Nevada,"$1,138",$95,"$1,092","$1,093","$1,467","$1,853","$2,707","$4,135","3,104,614",NV,38.802610,-116.419389
28,New Hampshire,$973,$81,"$1,257",$948,"$1,221","$1,488","$2,032","$3,064","1,377,529",NH,43.193852,-71.572395
29,New Jersey,"$1,112",$93,"$1,118","$1,171","$1,526","$1,894","$2,619","$3,915","9,288,994",NJ,40.058324,-74.405661
30,New Mexico,"$2,058",$172,$172,"$1,829","$2,647","$3,489","$4,529","$5,908","2,117,522",NM,34.972730,-105.032363
31,New York,"$1,690",$141,$540,"$1,340","$1,816","$2,349","$3,276","$4,904","20,201,249",NY,43.299428,-74.217933
32,North Carolina,"$2,495",$208,$265,"$2,141","$2,941","$3,398","$4,375","$6,031","10,439,388",NC,35.759573,-79.019300
33,North Dakota,"$2,538",$212,$308,"$2,431","$3,147","$3,898","$4,682","$6,991","779,094",ND,47.551493,-101.002012
34,Ohio,"$1,188",$99,"$1,042","$1,805","$2,160","$2,613","$3,265","$4,301","11,799,448",OH,40.417287,-82.907123
35,Oklahoma,"$4,700",$392,"$2,470","$4,442","$5,858","$7,012","$8,426","$8,865","3,959,353",OK,35.007752,-97.092877
36,Oregon,$986,$82,"$1,244","$1,347","$1,755","$2,185","$3,016","$4,108","4,237,256",OR,43.804133,-120.554201
37,Pennsylvania,"$1,149",$96,"$1,081","$1,475","$1,911","$2,130","$2,902","$3,908","13,002,700",PA,41.203322,-77.194525
38,Rhode Island,"$1,961",$163,$269,"$1,505","$1,950","$2,381","$3,327","$5,235","1,097,379",RI,41.580095,-71.477429
39,South Carolina,"$2,360",$197,$130,"$2,061","$2,678","$3,219","$4,319","$5,765","5,118,425",SC,33.836081,-81.163725
40,South Dakota,"$2,732",$228,$502,"$2,607","$3,390","$3,970","$5,353","$7,420","886,667",SD,43.969515,-99.901813
41,Tennessee,"$2,410",$201,$180,"$2,369","$3,060","$3,737","$4,873","$6,573","6,910,840",TN,35.517491,-86.580447
42,Texas,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
43,Utah,"$1,182",$98,"$1,048","$1,416","$1,802","$2,161","$2,876","$4,201","3,271,616",UT,39.320980,-111.093731
44,Vermont,$806,$67,"$1,424",$974,"$1,263","$1,555","$2,147","$3,269","643,077",VT,44.558803,-72.577841
45,Virginia,"$1,497",$125,$733,"$1,645","$2,151","$2,694","$3,430","$4,314","8,631,393",VA,37.431573,-78.656894
46,Washington,"$1,337",$111,$893,"$1,260","$1,612","$2,017","$2,801","$4,314","7,705,281",WA,47.751074,-120.740139
47,West Virginia,$952,$79,"$1,278","$1,465","$1,911","$2,354","$3,271","$5,041","1,793,716",WV,38.597626,-80.454903
48,Wisconsin,"$1,154",$96,"$1,076","$1,274","$1,662","$2,038","$2,711","$4,091","5,893,718",WI,43.784440,-88.787868
49,Wyoming,"$1,352",$113,$878,"$1,351","$1,897","$2,490","$3,703","$5,597","576,851",WY,43.075968,-107.290284
50,Washington D.C.,"$1,377",$115,$853,$984,"$1,342","$1,703","$2,384","$3,699","689,545",DC,38.905985,-77.033418
51,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,285,874",PR,18.220833,-66.590149

In [17]:
my_df

,State,Average Annual Premium,Average Monthly Premium,Difference From National Avg,"Average annual rates for $200,000 in dwelling coverage","Average annual rates for $300,000 in dwelling coverage","Average annual rates for $400,000 in dwelling coverage","Average annual rates for $600,000 in dwelling coverage","Average annual rates for $1,000,000 in dwelling coverage",total_population,state_code,state_latitude,state_longitude
0,Alabama,"$2,745",$229,$515,"$2,391","$3,147","$3,798","$5,144","$7,056","5,024,279",AL,32.318231,-86.902298
1,Alaska,$987,$82,"$1,243","$1,355","$1,708","$2,064","$2,779","$4,098","733,391",AK,63.588753,-154.493062
2,Arizona,"$2,000",$167,$230,"$1,906","$2,490","$3,063","$4,086","$5,161","7,151,502",AZ,34.048928,-111.093731
3,Arkansas,"$3,056",$255,$826,"$3,328","$3,958","$4,675","$6,099","$7,768","3,011,524",AR,35.201050,-91.831833
4,California,"$1,453",$121,$777,"$1,043","$1,405","$1,772","$2,598","$4,266","39,538,223",CA,36.778261,-119.417932
5,Colorado,"$3,124",$260,$894,"$3,169","$4,099","$4,662","$5,542","$7,384","5,773,714",CO,39.550051,-105.782067
6,Connecticut,"$1,677",$140,$553,"$1,750","$2,231","$2,707","$3,641","$4,762","3,605,944",CT,41.603221,-73.087749
7,Delaware,$966,$81,"$1,264","$1,078","$1,384","$1,729","$2,474","$3,406","989,948",DE,38.910832,-75.527670
8,Florida,"$5,533",$461,"$3,303","$3,773","$4,419","$4,984","$5,854","$6,574","21,538,187",FL,27.664827,-81.515754
9,Georgia,"$1,945",$162,$285,"$1,760","$2,302","$2,881","$4,006","$5,743","10,711,908",GA,32.157435,-82.907123
10,Hawaii,"$1,134",$94,"$1,096",$461,$613,$791,"$1,154","$1,831","1,455,271",HI,19.898682,-155.665857
11,Idaho,"$1,265",$105,$965,"$1,476","$1,961","$2,449","$3,427","$5,288","1,839,106",ID,44.068202,-114.742041
12,Illinois,"$2,189",$182,$41,"$2,423","$3,062","$3,587","$4,390","$5,752","12,812,508",IL,40.633125,-89.398528
13,Indiana,"$1,655",$138,$575,"$2,313","$2,991","$3,620","$4,451","$5,749","6,785,528",IN,40.551217,-85.602364
14,Iowa,"$2,012",$168,$218,"$2,022","$2,654","$3,230","$4,388","$6,267","3,190,369",IA,41.878003,-93.097702
15,Kansas,"$4,103",$342,"$1,873","$3,638","$4,843","$5,688","$6,798","$8,310","2,937,880",KS,39.011902,-98.484246
16,Kentucky,"$3,113",$259,$883,"$2,486","$3,326","$4,153","$5,182","$6,452","4,505,836",KY,37.839333,-84.270018
17,Louisiana,"$4,274",$356,"$2,044","$2,822","$3,594","$4,409","$5,277","$5,979","4,657,757",LA,31.244823,-92.145024
18,Maine,"$1,190",$99,"$1,040","$1,021","$1,391","$1,741","$2,510","$3,972","1,362,359",ME,45.253783,-69.445469
19,Maryland,"$1,528",$127,$702,"$1,318","$1,715","$2,131","$3,028","$4,700","6,177,224",MD,39.045755,-76.641271
20,Massachusetts,"$1,622",$135,$608,"$1,303","$1,640","$1,998","$2,746","$4,168","7,029,917",MA,42.407211,-71.382437
21,Michigan,"$1,809",$151,$421,"$1,825","$2,411","$2,956","$3,564","$4,680","10,077,331",MI,44.314844,-85.602364
22,Minnesota,"$2,417",$201,$187,"$1,828","$2,420","$2,999","$4,308","$5,991","5,706,494",MN,46.729553,-94.685900
23,Mississippi,"$2,820",$235,$590,"$2,646","$3,380","$3,941","$4,700","$6,039","2,961,279",MS,32.354668,-89.398528
24,Missouri,"$2,065",$172,$165,"$2,638","$3,543","$4,114","$4,956","$6,641","6,154,913",MO,37.964253,-91.831833
25,Montana,"$2,521",$210,$291,"$2,523","$3,289","$3,831","$4,271","$5,825","1,084,225",MT,46.879682,-110.362566
26,Nebraska,"$5,249",$437,"$3,019","$3,809","$4,800","$5,904","$7,365","$8,451","1,961,504",NE,41.492537,-99.901813
27,Nevada,"$1,138",$95,"$1,092","$1,093","$1,467","$1,853","$2,707","$4,135","3,104,614",NV,38.802610,-116.419389
28,New Hampshire,$973,$81,"$1,257",$948,"$1,221","$1,488","$2,032","$3,064","1,377,529",NH,43.193852,-71.572395
29,New Jersey,"$1,112",$93,"$1,118","$1,171","$1,526","$1,894","$2,619","$3,915","9,288,994",NJ,40.058324,-74.405661
30,New Mexico,"$2,058",$172,$172,"$1,829","$2,647","$3,489","$4,529","$5,908","2,117,522",NM,34.972730,-105.032363
31,New York,"$1,690",$141,$540,"$1,340","$1,816","$2,349","$3,276","$4,904","20,201,249",NY,43.299428,-74.217933
32,North Carolina,"$2,495",$208,$265,"$2,141","$2,941","$3,398","$4,375","$6,031","10,439,388",NC,35.759573,-79.019300
33,North Dakota,"$2,538",$212,$308,"$2,431","$3,147","$3,898","$4,682","$6,991","779,094",ND,47.551493,-101.002012
34,Ohio,"$1,188",$99,"$1,042","$1,805","$2,160","$2,613","$3,265","$4,301","11,799,448",OH,40.417287,-82.907123
35,Oklahoma,"$4,700",$392,"$2,470","$4,442","$5,858","$7,012","$8,426","$8,865","3,959,353",OK,35.007752,-97.092877
36,Oregon,$986,$82,"$1,244","$1,347","$1,755","$2,185","$3,016","$4,108","4,237,256",OR,43.804133,-120.554201
37,Pennsylvania,"$1,149",$96,"$1,081","$1,475","$1,911","$2,130","$2,902","$3,908","13,002,700",PA,41.203322,-77.194525
38,Rhode Island,"$1,961",$163,$269,"$1,505","$1,950","$2,381","$3,327","$5,235","1,097,379",RI,41.580095,-71.477429
39,South Carolina,"$2,360",$197,$130,"$2,061","$2,678","$3,219","$4,319","$5,765","5,118,425",SC,33.836081,-81.163725
40,South Dakota,"$2,732",$228,$502,"$2,607","$3,390","$3,970","$5,353","$7,420","886,667",SD,43.969515,-99.901813
41,Tennessee,"$2,410",$201,$180,"$2,369","$3,060","$3,737","$4,873","$6,573","6,910,840",TN,35.517491,-86.580447
42,Texas,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
43,Utah,"$1,182",$98,"$1,048","$1,416","$1,802","$2,161","$2,876","$4,201","3,271,616",UT,39.320980,-111.093731
44,Vermont,$806,$67,"$1,424",$974,"$1,263","$1,555","$2,147","$3,269","643,077",VT,44.558803,-72.577841
45,Virginia,"$1,497",$125,$733,"$1,645","$2,151","$2,694","$3,430","$4,314","8,631,393",VA,37.431573,-78.656894
46,Washington,"$1,337",$111,$893,"$1,260","$1,612","$2,017","$2,801","$4,314","7,705,281",WA,47.751074,-120.740139
47,West Virginia,$952,$79,"$1,278","$1,465","$1,911","$2,354","$3,271","$5,041","1,793,716",WV,38.597626,-80.454903
48,Wisconsin,"$1,154",$96,"$1,076","$1,274","$1,662","$2,038","$2,711","$4,091","5,893,718",WI,43.784440,-88.787868
49,Wyoming,"$1,352",$113,$878,"$1,351","$1,897","$2,490","$3,703","$5,597","576,851",WY,43.075968,-107.290284
50,Washington D.C.,"$1,377",$115,$853,$984,"$1,342","$1,703","$2,384","$3,699","689,545",DC,38.905985,-77.033418
51,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,285,874",PR,18.220833,-66.590149

In [18]:
us_emdat = pd.read_csv('../data/us_emdat.csv')

In [19]:
this_df = pd.merge( us_emdat, my_df,
         left_on = 'State',
         right_on = 'State',
         how = 'outer')

In [20]:
this_df.columns

Index(['Disaster Group', 'Disaster Subgroup', 'Disaster Type',
       'Disaster Subtype', 'Country', 'Subregion', 'Region', 'Location',
       'Magnitude', 'Magnitude Scale', 'Latitude', 'Longitude', 'start_date',
       'Start Year', 'Start Month', 'Start Day', 'end_date', 'End Year',
       'End Month', 'End Day', 'Total Deaths', 'No. Injured', 'No. Affected',
       'No. Homeless', 'Total Affected', 'Insured Damage ('000 US$)',
       'Insured Damage, Adjusted ('000 US$)', 'Total Damage ('000 US$)',
       'Total Damage, Adjusted ('000 US$)', 'CPI', 'State',
       'Average Annual Premium', 'Average Monthly Premium',
       'Difference From National Avg',
       'Average annual rates for $200,000 in dwelling coverage',
       'Average annual rates for $300,000 in dwelling coverage',
       'Average annual rates for $400,000 in dwelling coverage',
       'Average annual rates for $600,000 in dwelling coverage',
       'Average annual rates for $1,000,000 in dwelling coverage',
       'total_population', 'state_code', 'state_latitude', 'state_longitude'],
      dtype='object')

In [21]:
pd.set_option('display.max_columns', None)

In [22]:
this_df['start_date'] = pd.to_datetime(this_df['start_date'], errors='coerce')
this_df['end_date'] = pd.to_datetime(this_df['end_date'], errors='coerce')

In [23]:
this_df.drop(columns = ['Disaster Group',
                        'Subregion',
                        'Region',
                        'Location',
                        'Start Year',
                        'Start Month',
                        'Start Day',
                        'End Year',
                        'End Month',
                        'End Day'], inplace = True)

In [24]:
this_df.columns

Index(['Disaster Subgroup', 'Disaster Type', 'Disaster Subtype', 'Country',
       'Magnitude', 'Magnitude Scale', 'Latitude', 'Longitude', 'start_date',
       'end_date', 'Total Deaths', 'No. Injured', 'No. Affected',
       'No. Homeless', 'Total Affected', 'Insured Damage ('000 US$)',
       'Insured Damage, Adjusted ('000 US$)', 'Total Damage ('000 US$)',
       'Total Damage, Adjusted ('000 US$)', 'CPI', 'State',
       'Average Annual Premium', 'Average Monthly Premium',
       'Difference From National Avg',
       'Average annual rates for $200,000 in dwelling coverage',
       'Average annual rates for $300,000 in dwelling coverage',
       'Average annual rates for $400,000 in dwelling coverage',
       'Average annual rates for $600,000 in dwelling coverage',
       'Average annual rates for $1,000,000 in dwelling coverage',
       'total_population', 'state_code', 'state_latitude', 'state_longitude'],
      dtype='object')

In [25]:
new_order = ['Country', 'State'] + [col for col in this_df.columns if col not in ['Country', 'State']]
this_df = this_df[new_order]

In [26]:
this_df

,Country,State,Disaster Subgroup,Disaster Type,Disaster Subtype,Magnitude,Magnitude Scale,Latitude,Longitude,start_date,end_date,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Average Annual Premium,Average Monthly Premium,Difference From National Avg,"Average annual rates for $200,000 in dwelling coverage","Average annual rates for $300,000 in dwelling coverage","Average annual rates for $400,000 in dwelling coverage","Average annual rates for $600,000 in dwelling coverage","Average annual rates for $1,000,000 in dwelling coverage",total_population,state_code,state_latitude,state_longitude
0,United States of America,Kentucky,Meteorological,Storm,Tornado,NaN,Kph,NaN,NaN,2000-01-02,2000-01-04,1.0,12.0,NaN,150.0,162.0,200500.0,354778.0,210000.0,371587.0,56.514291,"$3,113",$259,$883,"$2,486","$3,326","$4,153","$5,182","$6,452","4,505,836",KY,37.839333,-84.270018
1,United States of America,Kentucky,Hydrological,Flood,Riverine flood,55000.0,Km2,NaN,NaN,2000-02-18,2000-02-22,3.0,NaN,231.0,NaN,231.0,NaN,NaN,NaN,NaN,56.514291,"$3,113",$259,$883,"$2,486","$3,326","$4,153","$5,182","$6,452","4,505,836",KY,37.839333,-84.270018
2,United States of America,Kentucky,Climatological,Wildfire,Forest fire,283.0,Km2,NaN,NaN,2001-10-30,2001-10-30,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.111474,"$3,113",$259,$883,"$2,486","$3,326","$4,153","$5,182","$6,452","4,505,836",KY,37.839333,-84.270018
3,United States of America,Kentucky,Meteorological,Storm,Storm (General),NaN,Kph,NaN,NaN,2001-08-01,2001-08-01,11.0,NaN,NaN,200.0,200.0,NaN,NaN,NaN,NaN,58.111474,"$3,113",$259,$883,"$2,486","$3,326","$4,153","$5,182","$6,452","4,505,836",KY,37.839333,-84.270018
4,United States of America,Kentucky,Meteorological,Storm,Storm (General),NaN,Kph,NaN,NaN,2002-03-19,2002-03-19,6.0,4.0,750.0,NaN,754.0,200500.0,339640.0,200500.0,339640.0,59.033144,"$3,113",$259,$883,"$2,486","$3,326","$4,153","$5,182","$6,452","4,505,836",KY,37.839333,-84.270018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3400,United States of America,Delaware,Meteorological,Storm,Blizzard/Winter storm,110.0,Kph,NaN,NaN,2018-03-01,2018-03-03,9.0,NaN,NaN,NaN,NaN,1400000.0,1698809.0,2300000.0,2790901.0,82.410668,$966,$81,"$1,264","$1,078","$1,384","$1,729","$2,474","$3,406","989,948",DE,38.910832,-75.527670
3401,United States of America,Delaware,Meteorological,Storm,Tropical cyclone,NaN,Kph,NaN,NaN,2020-07-31,2020-08-02,16.0,NaN,NaN,NaN,NaN,NaN,NaN,4800000.0,5651101.0,84.939198,$966,$81,"$1,264","$1,078","$1,384","$1,729","$2,474","$3,406","989,948",DE,38.910832,-75.527670
3402,United States of America,Delaware,Meteorological,Storm,Tropical cyclone,240.0,Kph,NaN,NaN,2021-08-28,2021-09-02,96.0,NaN,14000.0,NaN,14000.0,36000000.0,40481508.0,65000000.0,73091612.0,88.929493,$966,$81,"$1,264","$1,078","$1,384","$1,729","$2,474","$3,406","989,948",DE,38.910832,-75.527670
3403,United States of America,Delaware,Meteorological,Storm,Tornado,NaN,Kph,NaN,NaN,2023-03-30,2023-04-03,31.0,200.0,5544.0,735.0,6479.0,4300000.0,4300000.0,5500000.0,5500000.0,100.000000,$966,$81,"$1,264","$1,078","$1,384","$1,729","$2,474","$3,406","989,948",DE,38.910832,-75.527670
3404,NaN,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,285,874",PR,18.220833,-66.590149

In [27]:
this_df['end_date'].max()

Timestamp('2024-06-21 00:00:00')

In [28]:
this_df.loc[this_df['end_date'] == '2024-06-21']

,Country,State,Disaster Subgroup,Disaster Type,Disaster Subtype,Magnitude,Magnitude Scale,Latitude,Longitude,start_date,end_date,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Average Annual Premium,Average Monthly Premium,Difference From National Avg,"Average annual rates for $200,000 in dwelling coverage","Average annual rates for $300,000 in dwelling coverage","Average annual rates for $400,000 in dwelling coverage","Average annual rates for $600,000 in dwelling coverage","Average annual rates for $1,000,000 in dwelling coverage",total_population,state_code,state_latitude,state_longitude
980,United States of America,New Mexico,Climatological,Wildfire,Forest fire,NaN,Km2,NaN,NaN,2024-06-19,2024-06-21,2.0,2.0,1500.0,NaN,1502.0,NaN,NaN,NaN,NaN,NaN,"$2,058",$172,$172,"$1,829","$2,647","$3,489","$4,529","$5,908","2,117,522",NM,34.972730,-105.032363
1716,United States of America,California,Climatological,Wildfire,Forest fire,NaN,Km2,NaN,NaN,2024-06-19,2024-06-21,2.0,2.0,1500.0,NaN,1502.0,NaN,NaN,NaN,NaN,NaN,"$1,453",$121,$777,"$1,043","$1,405","$1,772","$2,598","$4,266","39,538,223",CA,36.778261,-119.417932

In [29]:
this_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3405 entries, 0 to 3404
Data columns (total 33 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Country                                                   3404 non-null   object
 1   State                                                     3395 non-null   object
 2   Disaster Subgroup                                         3404 non-null   object
 3   Disaster Type                                             3404 non-null   object
 4   Disaster Subtype                                          3404 non-null   object
 5   Magnitude                                                 1065 non-null   float64
 6   Magnitude Scale                                           3400 non-null   object
 7   Latitude                                                  210 non-null    float64
 8   Longitude                                                 210 non-null    float64
 9   start_date                                                3404 non-null   datetime64[ns]
 10  end_date                                                  3404 non-null   datetime64[ns]
 11  Total Deaths                                              2950 non-null   float64
 12  No. Injured                                               1160 non-null   float64
 13  No. Affected                                              1072 non-null   float64
 14  No. Homeless                                              278 non-null    float64
 15  Total Affected                                            1829 non-null   float64
 16  Insured Damage ('000 US$)                                 1918 non-null   float64
 17  Insured Damage, Adjusted ('000 US$)                       1918 non-null   float64
 18  Total Damage ('000 US$)                                   2788 non-null   float64
 19  Total Damage, Adjusted ('000 US$)                         2761 non-null   float64
 20  CPI                                                       3347 non-null   float64
 21  Average Annual Premium                                    3394 non-null   object
 22  Average Monthly Premium                                   3394 non-null   object
 23  Difference From National Avg                              3394 non-null   object
 24  Average annual rates for $200,000 in dwelling coverage    3394 non-null   object
 25  Average annual rates for $300,000 in dwelling coverage    3394 non-null   object
 26  Average annual rates for $400,000 in dwelling coverage    3394 non-null   object
 27  Average annual rates for $600,000 in dwelling coverage    3394 non-null   object
 28  Average annual rates for $1,000,000 in dwelling coverage  3394 non-null   object
 29  total_population                                          3395 non-null   object
 30  state_code                                                3395 non-null   object
 31  state_latitude                                            3395 non-null   float64
 32  state_longitude                                           3395 non-null   float64
dtypes: datetime64[ns](2), float64(15), object(16)
memory usage: 878.0+ KB

In [30]:
this_df

,Country,State,Disaster Subgroup,Disaster Type,Disaster Subtype,Magnitude,Magnitude Scale,Latitude,Longitude,start_date,end_date,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Average Annual Premium,Average Monthly Premium,Difference From National Avg,"Average annual rates for $200,000 in dwelling coverage","Average annual rates for $300,000 in dwelling coverage","Average annual rates for $400,000 in dwelling coverage","Average annual rates for $600,000 in dwelling coverage","Average annual rates for $1,000,000 in dwelling coverage",total_population,state_code,state_latitude,state_longitude
0,United States of America,Kentucky,Meteorological,Storm,Tornado,NaN,Kph,NaN,NaN,2000-01-02,2000-01-04,1.0,12.0,NaN,150.0,162.0,200500.0,354778.0,210000.0,371587.0,56.514291,"$3,113",$259,$883,"$2,486","$3,326","$4,153","$5,182","$6,452","4,505,836",KY,37.839333,-84.270018
1,United States of America,Kentucky,Hydrological,Flood,Riverine flood,55000.0,Km2,NaN,NaN,2000-02-18,2000-02-22,3.0,NaN,231.0,NaN,231.0,NaN,NaN,NaN,NaN,56.514291,"$3,113",$259,$883,"$2,486","$3,326","$4,153","$5,182","$6,452","4,505,836",KY,37.839333,-84.270018
2,United States of America,Kentucky,Climatological,Wildfire,Forest fire,283.0,Km2,NaN,NaN,2001-10-30,2001-10-30,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.111474,"$3,113",$259,$883,"$2,486","$3,326","$4,153","$5,182","$6,452","4,505,836",KY,37.839333,-84.270018
3,United States of America,Kentucky,Meteorological,Storm,Storm (General),NaN,Kph,NaN,NaN,2001-08-01,2001-08-01,11.0,NaN,NaN,200.0,200.0,NaN,NaN,NaN,NaN,58.111474,"$3,113",$259,$883,"$2,486","$3,326","$4,153","$5,182","$6,452","4,505,836",KY,37.839333,-84.270018
4,United States of America,Kentucky,Meteorological,Storm,Storm (General),NaN,Kph,NaN,NaN,2002-03-19,2002-03-19,6.0,4.0,750.0,NaN,754.0,200500.0,339640.0,200500.0,339640.0,59.033144,"$3,113",$259,$883,"$2,486","$3,326","$4,153","$5,182","$6,452","4,505,836",KY,37.839333,-84.270018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3400,United States of America,Delaware,Meteorological,Storm,Blizzard/Winter storm,110.0,Kph,NaN,NaN,2018-03-01,2018-03-03,9.0,NaN,NaN,NaN,NaN,1400000.0,1698809.0,2300000.0,2790901.0,82.410668,$966,$81,"$1,264","$1,078","$1,384","$1,729","$2,474","$3,406","989,948",DE,38.910832,-75.527670
3401,United States of America,Delaware,Meteorological,Storm,Tropical cyclone,NaN,Kph,NaN,NaN,2020-07-31,2020-08-02,16.0,NaN,NaN,NaN,NaN,NaN,NaN,4800000.0,5651101.0,84.939198,$966,$81,"$1,264","$1,078","$1,384","$1,729","$2,474","$3,406","989,948",DE,38.910832,-75.527670
3402,United States of America,Delaware,Meteorological,Storm,Tropical cyclone,240.0,Kph,NaN,NaN,2021-08-28,2021-09-02,96.0,NaN,14000.0,NaN,14000.0,36000000.0,40481508.0,65000000.0,73091612.0,88.929493,$966,$81,"$1,264","$1,078","$1,384","$1,729","$2,474","$3,406","989,948",DE,38.910832,-75.527670
3403,United States of America,Delaware,Meteorological,Storm,Tornado,NaN,Kph,NaN,NaN,2023-03-30,2023-04-03,31.0,200.0,5544.0,735.0,6479.0,4300000.0,4300000.0,5500000.0,5500000.0,100.000000,$966,$81,"$1,264","$1,078","$1,384","$1,729","$2,474","$3,406","989,948",DE,38.910832,-75.527670
3404,NaN,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,285,874",PR,18.220833,-66.590149

In [31]:
populations = pd.read_csv('../data/population_years.csv')

In [32]:
populations = populations.drop( columns = ['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26'])

In [71]:
populations

,State,Resident Population 2020 Census,Percent Change 2020 Census,Resident Population 2010 Census,Percent Change 2010 Census,Resident Population 2000 Census,Percent Change 2000 Census
0,Alabama,"5,024,279",5.1,"4,779,736",7.5,"4,447,100",10.1
1,Alaska,"733,391",3.3,"710,231",13.3,"626,932",14.0
2,Arizona,"7,151,502",11.9,"6,392,017",24.6,"5,130,632",40.0
3,Arkansas,"3,011,524",3.3,"2,915,918",9.1,"2,673,400",13.7
4,California,"39,538,223",6.1,"37,253,956",10.0,"33,871,648",13.8
5,Colorado,"5,773,714",14.8,"5,029,196",16.9,"4,301,261",30.6
6,Connecticut,"3,605,944",0.9,"3,574,097",4.9,"3,405,565",3.6
7,Delaware,"989,948",10.2,"897,934",14.6,"783,600",17.6
8,District of Columbia,"689,545",14.6,"601,723",5.2,"572,059",-5.7
9,Florida,"21,538,187",14.6,"18,801,310",17.6,"15,982,378",23.5
10,Georgia,"10,711,908",10.6,"9,687,653",18.3,"8,186,453",26.4
11,Hawaii,"1,455,271",7.0,"1,360,301",12.3,"1,211,537",9.3
12,Idaho,"1,839,106",17.3,"1,567,582",21.1,"1,293,953",28.5
13,Illinois,"12,812,508",-0.1,"12,830,632",3.3,"12,419,293",8.6
14,Indiana,"6,785,528",4.7,"6,483,802",6.6,"6,080,485",9.7
15,Iowa,"3,190,369",4.7,"3,046,355",4.1,"2,926,324",5.4
16,Kansas,"2,937,880",3.0,"2,853,118",6.1,"2,688,418",8.5
17,Kentucky,"4,505,836",3.8,"4,339,367",7.4,"4,041,769",9.7
18,Louisiana,"4,657,757",2.7,"4,533,372",1.4,"4,468,976",5.9
19,Maine,"1,362,359",2.6,"1,328,361",4.2,"1,274,923",3.8
20,Maryland,"6,177,224",7.0,"5,773,552",9.0,"5,296,486",10.8
21,Massachusetts,"7,029,917",7.4,"6,547,629",3.1,"6,349,097",5.5
22,Michigan,"10,077,331",2.0,"9,883,640",-0.6,"9,938,444",6.9
23,Minnesota,"5,706,494",7.6,"5,303,925",7.8,"4,919,479",12.4
24,Mississippi,"2,961,279",-0.2,"2,967,297",4.3,"2,844,658",10.5
25,Missouri,"6,154,913",2.8,"5,988,927",7.0,"5,595,211",9.3
26,Montana,"1,084,225",9.6,"989,415",9.7,"902,195",12.9
27,Nebraska,"1,961,504",7.4,"1,826,341",6.7,"1,711,263",8.4
28,Nevada,"3,104,614",15.0,"2,700,551",35.1,"1,998,257",66.3
29,New Hampshire,"1,377,529",4.6,"1,316,470",6.5,"1,235,786",11.4
30,New Jersey,"9,288,994",5.7,"8,791,894",4.5,"8,414,350",8.9
31,New Mexico,"2,117,522",2.8,"2,059,179",13.2,"1,819,046",20.1
32,New York,"20,201,249",4.2,"19,378,102",2.1,"18,976,457",5.5
33,North Carolina,"10,439,388",9.5,"9,535,483",18.5,"8,049,313",21.4
34,North Dakota,"779,094",15.8,"672,591",4.7,"642,200",0.5
35,Ohio,"11,799,448",2.3,"11,536,504",1.6,"11,353,140",4.7
36,Oklahoma,"3,959,353",5.5,"3,751,351",8.7,"3,450,654",9.7
37,Oregon,"4,237,256",10.6,"3,831,074",12.0,"3,421,399",20.4
38,Pennsylvania,"13,002,700",2.4,"12,702,379",3.4,"12,281,054",3.4
39,Rhode Island,"1,097,379",4.3,"1,052,567",0.4,"1,048,319",4.5
40,South Carolina,"5,118,425",10.7,"4,625,364",15.3,"4,012,012",15.1
41,South Dakota,"886,667",8.9,"814,180",7.9,"754,844",8.5
42,Tennessee,"6,910,840",8.9,"6,346,105",11.5,"5,689,283",16.7
43,Texas,"29,145,505",15.9,"25,145,561",20.6,"20,851,820",22.8
44,Utah,"3,271,616",18.4,"2,763,885",23.8,"2,233,169",29.6
45,Vermont,"643,077",2.8,"625,741",2.8,"608,827",8.2
46,Virginia,"8,631,393",7.9,"8,001,024",13.0,"7,078,515",14.4
47,Washington,"7,705,281",14.6,"6,724,540",14.1,"5,894,121",21.1
48,West Virginia,"1,793,716",-3.2,"1,852,994",2.5,"1,808,344",0.8
49,Wisconsin,"5,893,718",3.6,"5,686,986",6.0,"5,363,675",9.6
50,Wyoming,"576,851",2.3,"563,626",14.1,"493,782",8.9
51,United States1,"331,449,281",7.4,"308,745,538",9.7,"281,421,906",13.2

In [73]:
us_emdat

,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Country,Subregion,Region,Location,Magnitude,Magnitude Scale,Latitude,Longitude,start_date,Start Year,Start Month,Start Day,end_date,End Year,End Month,End Day,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,State
0,Natural,Meteorological,Storm,Tornado,United States of America,Northern America,Americas,"Crittenden, Daviess, Webster , Kentucky ,,",NaN,Kph,NaN,NaN,1/2/2000,2000,1,2,1/4/2000,2000,1.0,4,1.0,12.0,NaN,150.0,162.0,200500.0,354778.0,210000.0,371587.0,56.514291,Kentucky
1,Natural,Meteorological,Storm,Tornado,United States of America,Northern America,Americas,"Bullock, Montgomery , Alabama ,,, Colquitt, G...",249.0,Kph,NaN,NaN,2/13/2000,2000,2,13,2/14/2000,2000,2.0,14,22.0,100.0,900.0,NaN,1000.0,NaN,NaN,NaN,NaN,56.514291,Alabama
2,Natural,Meteorological,Storm,Tornado,United States of America,Northern America,Americas,"Bullock, Montgomery , Alabama ,,, Colquitt, G...",249.0,Kph,NaN,NaN,2/13/2000,2000,2,13,2/14/2000,2000,2.0,14,22.0,100.0,900.0,NaN,1000.0,NaN,NaN,NaN,NaN,56.514291,Georgia
3,Natural,Meteorological,Storm,Tornado,United States of America,Northern America,Americas,"Bullock, Montgomery , Alabama ,,, Colquitt, G...",249.0,Kph,NaN,NaN,2/13/2000,2000,2,13,2/14/2000,2000,2.0,14,22.0,100.0,900.0,NaN,1000.0,NaN,NaN,NaN,NaN,56.514291,Washington
4,Natural,Meteorological,Storm,Tornado,United States of America,Northern America,Americas,"Bullock, Montgomery , Alabama ,,, Colquitt, G...",249.0,Kph,NaN,NaN,2/13/2000,2000,2,13,2/14/2000,2000,2.0,14,22.0,100.0,900.0,NaN,1000.0,NaN,NaN,NaN,NaN,56.514291,Arkansas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3399,Natural,Meteorological,Storm,Severe weather,United States of America,Northern America,Americas,"Arkansas, Texas, Oklahoma, Kentucky, Alabama,...",NaN,Kph,NaN,NaN,5/23/2024,2024,5,23,5/30/2024,2024,5.0,30,23.0,80.0,102.0,NaN,182.0,NaN,NaN,NaN,NaN,NaN,Kentucky
3400,Natural,Meteorological,Storm,Severe weather,United States of America,Northern America,Americas,"Arkansas, Texas, Oklahoma, Kentucky, Alabama,...",NaN,Kph,NaN,NaN,5/23/2024,2024,5,23,5/30/2024,2024,5.0,30,23.0,80.0,102.0,NaN,182.0,NaN,NaN,NaN,NaN,NaN,Alabama
3401,Natural,Meteorological,Storm,Severe weather,United States of America,Northern America,Americas,"Arkansas, Texas, Oklahoma, Kentucky, Alabama,...",NaN,Kph,NaN,NaN,5/23/2024,2024,5,23,5/30/2024,2024,5.0,30,23.0,80.0,102.0,NaN,182.0,NaN,NaN,NaN,NaN,NaN,Colorado
3402,Natural,Climatological,Wildfire,Forest fire,United States of America,Northern America,Americas,"Otero and Lincoln Counties , New Mexico,, Cali...",NaN,Km2,NaN,NaN,6/19/2024,2024,6,19,6/21/2024,2024,6.0,21,2.0,2.0,1500.0,NaN,1502.0,NaN,NaN,NaN,NaN,NaN,New Mexico
3403,Natural,Climatological,Wildfire,Forest fire,United States of America,Northern America,Americas,"Otero and Lincoln Counties , New Mexico,, Cali...",NaN,Km2,NaN,NaN,6/19/2024,2024,6,19,6/21/2024,2024,6.0,21,2.0,2.0,1500.0,NaN,1502.0,NaN,NaN,NaN,NaN,NaN,California

In [77]:
this_df['State'].value_counts()

State
Texas              183
Missouri           139
Oklahoma           132
Illinois           114
Kansas             112
Mississippi        110
Alabama            103
Arkansas           100
Georgia             97
Ohio                97
Louisiana           96
Tennessee           96
North Carolina      95
Kentucky            94
California          94
Pennsylvania        90
Indiana             86
Iowa                86
New York            86
Virginia            85
Florida             81
Nebraska            80
New Jersey          71
South Carolina      70
Wisconsin           70
Minnesota           66
Colorado            64
Michigan            63
Maryland            62
South Dakota        54
Massachusetts       51
North Dakota        47
Washington          46
Connecticut         44
New Mexico          41
West Virginia       40
New Hampshire       36
Maine               35
Rhode Island        32
Wyoming             30
Vermont             29
Delaware            29
Arizona             27
Montana             26
Oregon              24
Washington D.C.     22
Nevada              21
Utah                12
Hawaii              11
Idaho               10
Alaska               5
Puerto Rico          1
Name: count, dtype: int64

In [81]:
this_df.loc[this_df['State'] == 'Texas'].head(50)

,Country,State,Disaster Subgroup,Disaster Type,Disaster Subtype,Magnitude,Magnitude Scale,Latitude,Longitude,start_date,end_date,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Average Annual Premium,Average Monthly Premium,Difference From National Avg,"Average annual rates for $200,000 in dwelling coverage","Average annual rates for $300,000 in dwelling coverage","Average annual rates for $400,000 in dwelling coverage","Average annual rates for $600,000 in dwelling coverage","Average annual rates for $1,000,000 in dwelling coverage",total_population,state_code,state_latitude,state_longitude
618,United States of America,Texas,Meteorological,Storm,Tornado,NaN,Kph,NaN,NaN,2000-03-28,2000-03-28,5.0,NaN,3000.0,300.0,3300.0,NaN,NaN,450000.0,796259.0,56.514291,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
619,United States of America,Texas,Meteorological,Storm,Tornado,NaN,Kph,NaN,NaN,2000-03-28,2000-03-28,5.0,NaN,3000.0,300.0,3300.0,NaN,NaN,450000.0,796259.0,56.514291,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
620,United States of America,Texas,Hydrological,Flood,Flood (General),NaN,Km2,NaN,NaN,2000-05-19,2000-05-19,NaN,NaN,240.0,NaN,240.0,NaN,NaN,NaN,NaN,56.514291,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
621,United States of America,Texas,Meteorological,Extreme temperature,Heat wave,38.0,°C,NaN,NaN,2000-07-01,2000-07-01,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
622,United States of America,Texas,Climatological,Wildfire,Forest fire,680000.0,Km2,NaN,NaN,2000-07-01,2000-08-01,14.0,NaN,1000.0,NaN,1000.0,NaN,NaN,1000000.0,1769464.0,56.514291,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
623,United States of America,Texas,Meteorological,Storm,Blizzard/Winter storm,NaN,Kph,NaN,NaN,2000-12-24,2000-12-24,57.0,34.0,NaN,NaN,34.0,200500.0,354778.0,NaN,NaN,56.514291,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
624,United States of America,Texas,Climatological,Drought,Drought,NaN,Km2,NaN,NaN,2000-06-01,2001-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1100000.0,1946410.0,56.514291,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
625,United States of America,Texas,Meteorological,Storm,Tornado,NaN,Kph,NaN,NaN,2001-04-10,2001-04-11,4.0,18.0,765.0,30.0,813.0,NaN,NaN,23000.0,39579.0,58.111474,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
626,United States of America,Texas,Meteorological,Storm,Tropical cyclone,NaN,Kph,NaN,NaN,2001-06-05,2001-06-17,41.0,NaN,102000.0,70000.0,172000.0,3500000.0,6022907.0,6000000.0,10324983.0,58.111474,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
627,United States of America,Texas,Climatological,Wildfire,Forest fire,797.0,Km2,NaN,NaN,2001-08-01,2001-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.111474,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
628,United States of America,Texas,Meteorological,Storm,Tornado,NaN,Kph,NaN,NaN,2001-10-11,2001-10-11,NaN,NaN,360.0,NaN,360.0,NaN,NaN,4000.0,6883.0,58.111474,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
629,United States of America,Texas,Meteorological,Storm,Tornado,NaN,Kph,NaN,NaN,2001-10-12,2001-10-12,NaN,2.0,1800.0,150.0,1952.0,NaN,NaN,7000.0,12046.0,58.111474,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
630,United States of America,Texas,Hydrological,Flood,Riverine flood,7730.0,Km2,NaN,NaN,2001-11-15,2001-11-19,9.0,NaN,600.0,NaN,600.0,NaN,NaN,NaN,NaN,58.111474,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
631,United States of America,Texas,Meteorological,Storm,Storm (General),NaN,Kph,NaN,NaN,2002-01-30,2002-02-08,28.0,NaN,NaN,NaN,NaN,200500.0,339640.0,400000.0,677585.0,59.033144,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
632,United States of America,Texas,Meteorological,Storm,Storm (General),NaN,Kph,NaN,NaN,2002-03-19,2002-03-19,6.0,4.0,750.0,NaN,754.0,200500.0,339640.0,200500.0,339640.0,59.033144,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
633,United States of America,Texas,Hydrological,Flood,Riverine flood,35390.0,Km2,NaN,NaN,2002-03-17,2002-03-24,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.033144,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
634,United States of America,Texas,Meteorological,Storm,Tornado,NaN,Kph,NaN,NaN,2002-05-05,2002-05-05,2.0,3.0,150.0,30.0,183.0,NaN,NaN,NaN,NaN,59.033144,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
635,United States of America,Texas,Hydrological,Flood,Riverine flood,108300.0,Km2,NaN,NaN,2002-06-30,2002-07-23,10.0,NaN,144000.0,NaN,144000.0,200500.0,339640.0,1000000.0,1693964.0,59.033144,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
636,United States of America,Texas,Biological,Epidemic,Viral disease,NaN,Vaccinated,NaN,NaN,2002-07-09,2002-11-26,214.0,NaN,3523.0,NaN,3523.0,NaN,NaN,NaN,NaN,59.033144,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
637,United States of America,Texas,Biological,Epidemic,Viral disease,NaN,Vaccinated,NaN,NaN,2002-07-09,2002-11-26,214.0,NaN,3523.0,NaN,3523.0,NaN,NaN,NaN,NaN,59.033144,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
638,United States of America,Texas,Meteorological,Storm,Blizzard/Winter storm,0.0,Kph,NaN,NaN,2002-12-23,2002-12-23,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.033144,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
639,United States of America,Texas,Biological,Epidemic,Viral disease,NaN,Vaccinated,NaN,NaN,2003-02-24,2003-07-13,NaN,NaN,29.0,NaN,29.0,NaN,NaN,NaN,NaN,60.373251,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
640,United States of America,Texas,Meteorological,Storm,Tornado,0.0,Kph,NaN,NaN,2003-05-04,2003-05-10,45.0,145.0,NaN,15000.0,15145.0,3200000.0,5300361.0,4000000.0,6625451.0,60.373251,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
641,United States of America,Texas,Meteorological,Storm,Storm (General),NaN,Kph,NaN,NaN,2003-12-15,2003-12-16,2.0,54.0,NaN,NaN,54.0,200000.0,331273.0,NaN,NaN,60.373251,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
642,United States of America,Texas,Meteorological,Storm,Storm (General),NaN,Kph,NaN,NaN,2003-12-15,2003-12-16,2.0,54.0,NaN,NaN,54.0,200000.0,331273.0,NaN,NaN,60.373251,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
643,United States of America,Texas,Meteorological,Storm,Storm (General),NaN,Kph,NaN,NaN,2003-12-15,2003-12-16,2.0,54.0,NaN,NaN,54.0,200000.0,331273.0,NaN,NaN,60.373251,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
644,United States of America,Texas,Meteorological,Storm,Storm (General),NaN,Kph,NaN,NaN,2003-04-04,2003-04-08,13.0,NaN,NaN,NaN,NaN,NaN,NaN,2100000.0,3478362.0,60.373251,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
645,United States of America,Texas,Meteorological,Storm,Blizzard/Winter storm,NaN,Kph,NaN,NaN,2003-02-26,2003-02-26,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.373251,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
646,United States of America,Texas,Meteorological,Storm,Tornado,NaN,Kph,NaN,NaN,2004-03-04,2004-03-07,9.0,NaN,1404.0,345.0,1749.0,200000.0,322635.0,300000.0,483952.0,61.989586,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
647,United States of America,Texas,Meteorological,Storm,Hail,NaN,Kph,NaN,NaN,2004-05-21,2004-05-27,5.0,37.0,6000.0,408.0,6445.0,800000.0,1290539.0,1100000.0,1774492.0,61.989586,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
648,United States of America,Texas,Meteorological,Storm,Lightning/Thunderstorms,NaN,Kph,NaN,NaN,2004-05-29,2004-06-02,10.0,NaN,1000.0,NaN,1000.0,450000.0,725928.0,700000.0,1129222.0,61.989586,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
649,United States of America,Texas,Meteorological,Storm,Lightning/Thunderstorms,NaN,Kph,NaN,NaN,2004-06-28,2004-06-28,4.0,6.0,307.0,NaN,313.0,NaN,NaN,170.0,274.0,61.989586,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
650,United States of America,Texas,Meteorological,Storm,Tropical cyclone,280.0,Kph,NaN,NaN,2005-09-23,2005-10-01,10.0,NaN,300000.0,NaN,300000.0,11300000.0,17630702.0,16000000.0,24963826.0,64.092740,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
651,United States of America,Texas,Climatological,Wildfire,Forest fire,NaN,Km2,NaN,NaN,2005-12-27,2006-01-04,5.0,NaN,NaN,1410.0,1410.0,NaN,NaN,100000.0,156024.0,64.092740,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
652,United States of America,Texas,Meteorological,Storm,Lightning/Thunderstorms,NaN,Kph,NaN,NaN,2006-05-01,2006-05-07,1.0,NaN,600.0,NaN,600.0,400000.0,604592.0,450000.0,680166.0,66.160331,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
653,United States of America,Texas,Hydrological,Flood,Riverine flood,3610.0,Km2,31.76,-106.39,2006-07-27,2006-08-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100000.0,151148.0,66.160331,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
654,United States of America,Texas,Meteorological,Storm,Tornado,NaN,Kph,NaN,NaN,2006-11-15,2006-11-16,12.0,20.0,NaN,NaN,20.0,62500.0,94467.0,95000.0,143591.0,66.160331,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
655,United States of America,Texas,Climatological,Wildfire,Wildfire (General),NaN,Km2,NaN,NaN,2006-03-01,2006-03-01,12.0,NaN,NaN,300.0,300.0,NaN,NaN,150000.0,226722.0,66.160331,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
656,United States of America,Texas,Meteorological,Storm,Storm (General),NaN,Kph,NaN,NaN,2007-01-12,2007-01-17,65.0,220.0,NaN,NaN,220.0,200000.0,293912.0,500000.0,734779.0,68.047674,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
657,United States of America,Texas,Hydrological,Flood,Riverine flood,434.4,Km2,34.88,-90.07,2007-01-15,2007-01-25,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.047674,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
658,United States of America,Texas,Meteorological,Storm,Tornado,240.0,Kph,NaN,NaN,2007-04-24,2007-04-26,10.0,80.0,NaN,200.0,280.0,NaN,NaN,NaN,NaN,68.047674,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
659,United States of America,Texas,Hydrological,Flood,Riverine flood,341.3,Km2,30.24,-98.66,2007-05-24,2007-05-29,8.0,NaN,100.0,NaN,100.0,NaN,NaN,NaN,NaN,68.047674,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
660,United States of America,Texas,Hydrological,Flood,Riverine flood,507800.0,Km2,32.84,-97.17,2007-06-26,2007-07-06,8.0,NaN,5000.0,NaN,5000.0,NaN,NaN,NaN,NaN,68.047674,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
661,United States of America,Texas,Hydrological,Flood,Riverine flood,507800.0,Km2,32.84,-97.17,2007-06-26,2007-07-06,8.0,NaN,5000.0,NaN,5000.0,NaN,NaN,NaN,NaN,68.047674,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
662,United States of America,Texas,Hydrological,Flood,Riverine flood,507800.0,Km2,32.84,-97.17,2007-06-26,2007-07-06,8.0,NaN,5000.0,NaN,5000.0,NaN,NaN,NaN,NaN,68.047674,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
663,United States of America,Texas,Hydrological,Flood,Riverine flood,507800.0,Km2,32.84,-97.17,2007-06-26,2007-07-06,8.0,NaN,5000.0,NaN,5000.0,NaN,NaN,NaN,NaN,68.047674,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
664,United States of America,Texas,Hydrological,Flood,Riverine flood,507800.0,Km2,32.84,-97.17,2007-06-26,2007-07-06,8.0,NaN,5000.0,NaN,5000.0,NaN,NaN,NaN,NaN,68.047674,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
665,United States of America,Texas,Hydrological,Flood,Riverine flood,34750.0,Km2,33.45,-97.30,2007-06-17,2007-06-22,10.0,NaN,750.0,NaN,750.0,NaN,NaN,28000.0,41148.0,68.047674,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
666,United States of America,Texas,Meteorological,Storm,Tropical cyclone,132.0,Kph,NaN,NaN,2007-08-16,2007-08-19,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.047674,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813
667,United States of America,Texas,Meteorological,Storm,Storm (General),NaN,Kph,NaN,NaN,2007-04-13,2007-04-17,23.0,NaN,NaN,NaN,NaN,1566000.0,2301328.0,2000000.0,2939116.0,68.047674,"$3,726",$311,"$1,496","$2,951","$3,851","$4,643","$5,602","$6,799","29,145,505",TX,31.968599,-99.901813